@import "tailwindcss";

@theme {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f0f4f8;
  --color-text-primary: #1f2937;
  --color-text-secondary: #6b7280;
  --color-border-color: #e2e8f0;
  --color-hover-bg: #e5e7eb;
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-bg-primary: #111827;
  --color-bg-secondary: #1f2937;
  --color-text-primary: #f9fafb;
  --color-text-secondary: #9ca3af;
  --color-border-color: #374151;
  --color-hover-bg: #374151;
}

body {
    @apply bg-bg-secondary text-text-primary transition-colors duration-500;
    font-family: sans-serif;
}